---
// Import section components
import MainLayout from "@/layouts/MainLayout.astro";
import Btn404 from "@components/ui/buttons/Btn404.astro";
import { SITE } from "@data/constants";

// Chỉ giữ tiếng Việt
const pageTitle = `Không tìm thấy trang | ${SITE.title}`;
const subTitle = "Ôi không, đây không phải công cụ bạn đang tìm!";
const content =
  "Đừng để sự cố này làm bạn chậm lại. Quay lại và tiếp tục xây dựng kiệt tác của bạn nào.";
const btnTitle = "Quay lại";
---

<MainLayout title={pageTitle}>
  <section class="grid h-svh place-content-center">
    <div class="mx-auto max-w-(--breakpoint-xl) px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto max-w-(--breakpoint-sm) text-center">
        <h1
          class="text-dark mb-4 text-7xl font-extrabold text-yellow-500 dark:text-yellow-400 lg:text-9xl"
        >
          404
        </h1>
        <p
          id="subtitle"
          class="mb-4 text-balance text-3xl font-bold tracking-tight text-neutral-700 dark:text-neutral-300 md:text-4xl"
        >
          {subTitle}
        </p>
        <p
          id="content"
          class="mb-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
        >
          {content}
        </p>
        <!-- Nút quay lại trang trước -->
        <Btn404 title={btnTitle} id="go-back" />
      </div>
    </div>
  </section>
</MainLayout>

<script>
  const goBackButton = document.getElementById("go-back");

  if (goBackButton) {
    goBackButton.addEventListener("click", () => {
      history.back();
    });
  }
</script>
